@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Areas/Admin/css/dis/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/Admin/css/dis/bootstrap.theme.css" rel="stylesheet" />
    <link href="~/Areas/Admin/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Areas/Admin/css/dis/github.css" rel="stylesheet" />
    <link href="~/Areas/Admin/dist/bootstrap-tagsinput.css" rel="stylesheet" />

    @*<link href="dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="assets/app.css" rel="stylesheet" />*@
</head>
<body>
    <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput" />
  
    <script src="~/Areas/Admin/css/dis/jquery.min.js"></script>
    <script src="~/Areas/Admin/css/dis/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/css/dis/typeahead.js"></script>

    <script src="~/Areas/Admin/css/dis/angular.min.js"></script>
    <script src="~/Areas/Admin/js/bootstrap-tag.min.js"></script>
    <script src="~/Areas/Admin/js/bootstrap-tagsinput-angular.min.js"></script>

    <script src="~/Areas/Admin/css/dis/rainbow.min.js"></script>

    <script src="~/Areas/Admin/css/dis/generic.js"></script>

    <script src="~/Areas/Admin/css/dis/html.js"></script>

    <script src="~/Areas/Admin/css/dis/JavaScript.js"></script>
    @*<script src="~/Areas/Admin/js/ace.min.js"></script>*@
    @*<script src="~/Areas/Admin/js/app.js"></script>*@

</body>

</html>
