@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/Admin/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/ui.jqgrid.min.css" rel="stylesheet" />
<link href="~/Areas/Admin/css/ace.min.css" rel="stylesheet" />

<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Rate Specification
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="form-control">
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    @*  <label class="control-label" for="form-field-1"> Brand Name </label>*@
                    @*  <label class="control-label no-padding-right" for="form-field-1"> Brand Name </label>*@
                    @Html.Label("form-field-1", "Rate By", new { @class = "control-label no-padding-right" })

                </div>
                <div class="col-md-6">
                    @* <input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5" />*@
                    @Html.TextBox("RateBy", null, new { @class = "col-md-6", @id = "form-field-1", placeholder = "Rate By" })
                </div>
            </div>
            <div class="row" style="height:15px !important;">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-12">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="button" value="Submit" class="btn btn-info" onclick='' />

                                &nbsp; &nbsp; &nbsp;
                                <input type="button" value="Reset" class="btn btn-info" onclick='' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.widget-body -->
    </div>
</div>
<div class="col-sm-12">
    <div class="widget-box transparent">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title lighter">
                <i class="ace-icon fa fa-signal"></i>
                Data
            </h4>

            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
        </div><!-- /.widget-body -->
    </div>
</div>